<div class="container-fluid" id='main-container'>
    <div class="ui-widget" id='map'></div>
    <div id="divider"></div>
    <div class="container ui-widget" id='state-info'>
        <div id="search-container">
            <div id='label--container'>
                <p id='label'>drag edge to resize</p>
            </div>
            <div id="dropdown-wrapper">
                <h6 class="menu-header">States:</h6>
                <select id="myselect" label='states'>
                    <%= @state_names.each do |s| %>
                        <option value=<%= s[:id] %>>
                            <%= s[:name] %>
                        </option>
                    <% end %>
                </select>
                <button type='button' id='search' class='btn btn-success rounded'>Search</button>
            </div>
        </div>
        <hr>
        <div id="state-content">
            <img 
                id="state-flag-image"
                class="img"
                src=""
                alt=""
            ></img>
            <h1 id="state-name"></h1>
            <p id="state-description"></p>
            <p id="state-capitol"></p>
            <p id="state-population"></p>
            <p id="facts-header">Fun Facts [click to reveal location on map]:</p>
            <ul id="state-facts">
            </ul>
        </div>
    </div>
</div>
