/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#main-container {
  display: flex;
  padding: 0;
  font-family: 'ChambersSansOT-Black';
  position: relative;
}

#map {
  /* position: absolute; top: 0; left: 0; */
  height: 93vh;
  width: 70%;
  max-width: none !important;
}

#divider {
  height: 93vh;
  width: 5px;
  background-color: gray;
  z-index: 5000;
}

#label{
  margin-left: 10px;
}

#state-info {
  padding: 0 20px;
  min-width: none !important;
  width: 30%;
  max-width: none !important;
  height: 93vh;
  background: beige;
  position: absolute ; top: 0; right: 0;
  /* z-index: 50000; */
  font-family: 'ChambersSansOT-Black';
}

#search-container {
  text-align: left;
  width:auto;
}

#search {
  font-family: 'ChambersSansOT-Bold';
}

#dropdown-wrapper {
    text-align: left;
    width: fit-content;
    margin: auto;
}
.menu-header {
  margin-bottom: 3px;
}

#myselect {
  font-size: 1.3em;
  width: 200px;
  height: 36px;
  vertical-align: middle;
  font-family: 'ChambersSansOT-Bold';
}

#state-flag-image {
  height: 100px;
  display: inline;
}

#state-name{
  font-size: 3em;
  display: inline;
  vertical-align: bottom;
  margin-left: 15px;
  font-family: 'ChambersSansOT-Black';
}

#state-capitol {
  margin-bottom: 0px;
}

#state-facts {
  list-style: none;
  padding-left: 0;
}

#facts-header {
  display: none;
}

a {
  text-decoration: none;
}