.leaflet-control-multi-measure {
  background-color: #fff;
  cursor: grab;
  
  .measure-hidden { 
    display: none !important;
  }

  .leaflet-measure-menu-icon {
    height: 18px;
    width: 18px;
    fill: black;
    
    &#close-icon{
      height: 14px;
      width: 14px;
      position: absolute;
      top: 6px;
      right: 6px;
      fill: gray;
      &:hover{
        cursor: pointer;
      }
    }
  }
  ul {
    padding-left: 0;
    margin-bottom: 5px;
  }

  .measure-actions {
    border-top: 1px solid lightgray;
    ul {
      color: blue;
    }
  }
  li.link{
    list-style: none;
    font-size: 14px;
    margin-bottom: 6px;
    &:hover{
          cursor: pointer;
            color: blueviolet;
          
            .leaflet-measure-menu-icon {
              fill: blueviolet;
            }
    }

    &#save {
      color: green;
    }
  }

  .leaflet-multi-measure-controls {
    padding: 10px 5px;
    width: 175px;
    
    h3.heading {
      font-size: 18px;
      border-bottom: 1px solid lightgray;
      margin: 0px 8px 10px 9px;
    }

    .measure-start-menu {
      font-size: 20px;
      // border-top: 1px solid lightgray;
      margin: 1px 8px 0px 9px;
      /* Dropdown Button */
    }

    .measure-output {
      padding-left: 10px;
      .measure-title {
        color: gray !important;
        font-size: 13px;
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
      }
      .measure-results {
        font-size: 14px;
        width: 100%;
        text-align: center;
      }
    }
    .measure-actions {
      padding-top: 10px;
      padding-left: 10px;
    }
  }

  .units-select-container {
    text-align: left;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    margin: 0 8px;

    &:first-child {
      margin-bottom: 9px;
    }

    .dropbtn {
      width: 100%;
      background-color: #04AA6D;
      color: white;
      border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
      min-width: 70px;
      margin-left: 5px;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      text-decoration: none;
      display: block;
      width: 100%;
      height: 30px;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
  }
}
